<ul class="flex gap-2">
	<li class="">
		<a href="https://www.facebook.com/hidroelectricasdelcauca">
			<i class="fa-brands fa-square-facebook fa-2xl" style="color: #0866FF;"></i>
		</a>
	</li>
	<li class="">
		<a href="wa.me/573113891186">
			<i class="fa-brands fa-square-whatsapp fa-2xl" style="color: #25d366;"></i>
		</a>
	</li>
	<li class="">
		<a href="https://www.instagram.com/hidroelectricasdelcauca/">
			<i class="fa-brands fa-square-instagram fa-2xl" style="color: #f00075;"></i>
		</a>
	</li>
</ul>
